/*

            NOTE TO SELF:
use bootstrap carousel for picture display

*/


body{
/*    background-image: url(images/whitem.jpg);*/
    background-repeat: repeat;
    background-size: 600px%; 

}

div.gallery {
    margin-left: 200px;
    margin-right: 10px;
    margin-top: 10px;

}

/*
div.gallery:hover {
    border: 1px solid #777;
}
*/

div.gallery img {
    margin-top: center;
    width: 180px;
    height: auto;
}

/*
div.desc {
    padding: 15px;
    text-align: center;
    float: right;
}
*/

/*top header*/
.center_div {
	margin-left: 220px; /*300 px*/
/*    margin-right: 130px;*/
    font-size: 1.2em;
    text-align: center;
    font-family: "Verdana";
    color: #78a5a2;
/*    border: 1px solid gray;*/
    width: 65%;
    background-color: #d0f0f6;
    padding: 8px;
}

/*idk just wanted to try out some animation below the header*/
.change_bg{
    width:100%;
    height:100%;
    animation: pulse 12s infinite;
}

@keyframes pulse{
    0%{
        background-color: pink;
    }
    100%{
        background-color: lightgoldenrodyellow; 
    }
}

html,
body,
section {
  height: 30%;
}

p {
	font-size: 0.5em;
}

aside{
    position: fixed;
    margin-top: 190px; 
    margin-left: 22px;
    font-size: 1em;
    text-align: center;
    font-family: "Verdana";
    color: #78a5a2;
}

aside h1{
    font-size: 0.7em;
}

/*dropdown button*/
.dropbtn{
    background-color: white;
    color: #74bcc3;
    font-size: 0.6em;
    font-family: "Verdana";  
    border:none;
    cursor: pointer;    
}

/*idk*/
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
/*    width of the box span */
    min-width: 100px;
}

/*the text of the dropdown content within the a tag*/
.dropdown-content a{
    color:lightblue;
    padding: 1px;
    text-decoration: none;
    display:table;
    font-size: 0.6em;
}

/*pseudo classes*/
.dropdown-content a:hover{background-color: white}

/*allow the dropdown content to have a block shape */
.dropdown:hover .dropdown-content{
    display:block;
}

/*sidebar navigation*/
nav a {
    text-decoration: none;
    color: #74bcc3;
    display: block;
    font-size: 0.6em;
}
/*can have diff navs. tested this out */

/*xexample of a pseudoclass used to specify a state of a selected element*/
nav a:hover {
    color: #E0D6E9;
    background: white;
    transition-property: color, background;
    transition-duration: .3s;
}

