img {
    width: 200px;
/*    original is 200 px */
}

/*
.projectpics {
    width: 100px; 
}
*/

body {
    font-size: .6em;
    text-align: center;
    font-family: "Verdana";
}

header {
    position: fixed; 
    /*stays in place when I scroll*/
    height: 100%;
    text-align: center;
    background: #74bcc3;
    color: black;
    border-image-width: auto;
    margin-left: 60px; 
}

header .title {
    font-size: 2em;
    padding: 10px;
}

/*sidebar navigation*/
nav a {
    text-decoration: none;
    color: white;
    display: block;
}

nav a:hover {
    color: #74bcc3;
    background: white;
    transition-property: color, background;
    transition-duration: .3s;
}

main {
/*
    margin-left: 400px;
    margin-right: 600px;
*/
    background-image: url(images/grid.gif);
    background-repeat: repeat;
    background-size: 450px; 
}

section {
    margin-left: 400px;
    margin-right: 600px;
    margin-bottom: 50px;
    

}

/*select all elements with class "section-title" */
.section-title { 
    border-bottom: 2px solid #74bcc3;
}

h2, h3 {
    color: #294042;
}
